<h3>Doc Builder</h3>

<a href="http://dev.missioncontrol.citrusbyte.com/auth/login?client_id=<%= client_id %>&redirect_uri=http://localhost:8000/callback&state=ABC123">
  Login with your MC Account
</a>
